footer {
	background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
	bottom: 0;
}
<<<<<<< HEAD
=======

>>>>>>> fc8eb610ffb4a77b058a3545dc63b3b9dd6c89f9
