body{
	margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

.container{
    margin: auto;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
}
<<<<<<< HEAD
=======

>>>>>>> fc8eb610ffb4a77b058a3545dc63b3b9dd6c89f9
